.section-aboutUs {
  animation: slide 1.2s ease-in-out;
  position: relative;
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
    display: block;
  }
  @keyframes slide {
    0% {
      transform: translateX(-1600px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -37px;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(90deg, #666, #ccc, #666);
  }
  .aboutUs-content {
    width: 67vw;
    @media (max-width: 767px) {
      width: 100vw;
    }
    .company-description {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @media (max-width: 767px) {
        display: block;
        width: 100vw;
      }
      .company-description-title {
        color: #212121;
        position: relative;
        font-size: 5vh;
        font-family: "Montserrat", sans-serif;
        padding-left: 42px;
        margin-bottom: 35px;
        @media (max-width: 767px) {
          margin-left: 30px;
        }
        &::before {
          position: absolute;
          color: #c0c7d2;
          content: "▶";
          font-size: 2.17vh;
          line-height: 1.8;
          position: absolute;
          left: 1vw;
          @media (max-width: 767px) {
            left: 18px;
          }
        }
        &::after {
          position: absolute;
          color: #3d5d5b;
          content: "▶";
          font-size: 2.17vh;
          line-height: 1.8;
          position: absolute;
          left: 0vw;
        }
      }
      .company-description-paragraphs {
        width: 44vw;
        color: #212121bf;
        font-family: "Roboto Slab", serif;
        font-size: 1.85vh;
        height: 53vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 767px) {
          width: 86vw;
          margin-left: 30px;
        }
        .description {
          text-align: justify;
          line-height: 3.7vh;
        }
      }
      .company-signature {
        text-align: end;
        line-height: 4vh;
      }
      .next {
        margin-top: 15px;
      }
    }
    .gallery {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 37px;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
      .image {
        transition: transform 0.3s ease;
        transform: scale(0.9);
        width: 25.62vw;
        height: 45vh;
        filter: brightness(100%);
        &:hover {
          transform: scale(1.1);
          filter: brightness(110%);
        }
        @media (max-width: 767px) {
          width: 65vw;
        }
      }
      .image-first {
        background: url("../../assets/gallery_image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 13px;
      }
      .image-secondary {
        background: url("../../assets/gallery_image_secondary.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 13px;
        @media (max-width: 767px) {
          margin: 0;
          margin-top: 13px;
        }
      }
      .image-thirth {
        background: url("../../assets/gallery_image_thirth.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 13px;
      }
    }
  }
}
