@mixin image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin arrow {
  position: absolute;
  content: "▶";
  font-size: 2.17vh;
  line-height: 1.8;
}
.section-aboutUs {
  animation: slide 1.2s ease-in-out;
  margin-top: 37px;
  width: 100%;
  height: auto;
  @keyframes slide {
    0% {
      transform: translateX(-1600px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .aboutUs-content {
    width: 100%;
    .company-description {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .company-description-title {
        max-width: 80%;
        color: #212121;
        position: relative;
        font-size: 5vh;
        font-family: "Montserrat", sans-serif;
        padding-left: 42px;
        left: -8vh;
        margin-bottom: 20px;
        &::before {
          @include arrow;
          color: #c0c7d2;
          left: 2.5vh;
        }
        &::after {
          @include arrow;
          color: #3d5d5b;
          left: 0vh;
        }
      }
      .company-description-paragraphs {
        width: 100%;
        color: #212121bf;
        font-family: "Roboto Slab", serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .logobox {
          width: 80%;
          display: flex;
          justify-content: center;
          position: relative;
          margin-bottom: 30px;
          .logo {
            width: 400px;
            height: 400px;
            background: url(../../assets/logo.jpg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .pclass {
          width: 80%;
        }
        .description {
          margin-bottom: 20px;
          text-align: justify;
          line-height: 20px;
          font-size: 1.5vh;
        }
      }
      .company-signature {
        text-align: end;
        line-height: 4vh;
      }
    }
    .gallery {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 37px;
      .image {
        transition: transform 0.3s ease;
        transform: scale(0.9);
        width: 275px;
        height: 275px;
        filter: brightness(100%);
        &:hover {
          transform: scale(1);
          filter: brightness(110%);
        }
      }
      .image-first {
        background: url("../../assets/gallery_image.jpg");
        margin-top: 25px;
        @include image;
      }
      .image-secondary {
        background: url("../../assets/gallery_image_secondary.jpg");
        @include image;
      }
      .image-thirth {
        background: url("../../assets/gallery_image_thirth.jpg");
        @include image;
      }
    }
  }
}

.section-aboutUs
  .aboutUs-content
  .company-description
  .company-description-title {
  @media screen and (min-width: 321px) and (max-width: 375px) {
    left: -9vh;
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    left: -13vh;
  }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    left: -31%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-aboutUs {
    .aboutUs-content {
      .company-description {
        flex-direction: column;
        .company-description-title {
          left: -70vh;
        }
        .company-description-paragraphs {
          width: 90%;
          margin-top: 30px;
          font-size: 2vh;
          .description {
            font-size: 1.5vh;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  .section-aboutUs {
    .aboutUs-content {
      .gallery {
        .image {
          width: 325px;
          height: 325px;
        }
      }
      .company-description {
        flex-direction: column;
        align-items: center;
        .company-description-title {
          left: -70vh;
        }
        .company-description-paragraphs {
          width: 90%;
          margin-top: 30px;
          font-size: 2.8vh;
          .description {
            font-size: 1.7vh;
            line-height: 4vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .image-secondary {
    margin-top: 25px;
  }
}
@media screen and (min-width: 825px) {
  .image-thirth {
    margin-top: 25px;
  }
}
@media screen and (min-width: 860px) {
  .section-aboutUs {
    .aboutUs-content {
      .company-description {
        .company-description-title {
          left: -32vh;
          z-index: 999;
        }
      }
    }
  }
}
@media screen and (min-width: 950px) {
  .section-aboutUs {
    .aboutUs-content {
      .company-description {
        .company-description-title {
          left: -41vh;
          top: 56vh;
        }
      }
    }
  }
}
@media screen and (min-width: 1150px) {
  .section-aboutUs {
    .aboutUs-content {
      .company-description {
        .company-description-title {
          left: 85px;
          top: 0;
        }
        .company-description-paragraphs {
          flex-direction: row;
        }
      }
    }
  }
}
@media screen and (min-width: 1250px) {
  .section-aboutUs {
    .aboutUs-content {
      .company-description {
        .company-description-title {
          left: 85px;
        }
        .company-description-paragraphs {
          .description {
            font-size: 2vh;
          }
        }
      }
    }
  }
}
