.contact-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83.2vw;
    height: 41.5vh;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      .email-container {
        height: 9.5vh;
        margin-bottom: 20px;
        .email-input {
          width: 100%;
          height: 3.7vh;
          padding: 8px 12px;
        }
      }
      .message-container {
        height: 21vh;
        margin-bottom: 20px;
        #message {
          width: 100%;
          height: 14vh;
          padding: 8px 12px;
        }
      }
      .btn-form {
        height: 1.85vh;
        width: 3.16vw;
        font-size: 1.0625rem;
    font-weight: 400;
      }
      label {
        font-family: "Roboto Slab", sans-serif;
        font-size: 1rem;
      }
    }
    .contact-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }
  }
}
