.contact-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83.2vw;
    height: 41.5vh;
    padding: 0 24px;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      padding: 0px 24px;
      .email-container {
        height: 9.5vh;
        margin-bottom: 20px;
        .email-input {
          width: 100%;
          height: 3.7vh;
          padding: 8px 17px;
          border: 2px solid #ccc;
          color: rgba(33, 33, 33, 0.8);
        }
      }
      .message-container {
        height: 21vh;
        margin-bottom: 20px;
        #message {
          width: 100%;
          height: 14vh;
          padding: 8px 17px;
          border: 2px solid #ccc;
          color: rgba(33, 33, 33, 0.8);
        }
      }
      .btn-form {
        height: 6.6vh;
        width: 7.72vw;
        font-size: 1.0625rem;
        font-weight: 400;
        background: transparent;
        border: 2px solid #212121;
        color: #212121;
      }
      label {
        font-family: "Roboto Slab", sans-serif;
        font-size: 1rem;
      }
    }
    .contact-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding: 0px 24px;
    }
  }
}
