.header {
  height: 40vh;
  width: 100%;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &::before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 253.95px;
    position: absolute;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 1440px) {
      height: 287.95px;
    }
  }
  .top-header,
  .bottom-header {
    color: #fff;
    display: flex;
    align-items: center;
  }
  .top-header {
    height: 78%;
    background: url("../../assets/header_background.jpg") center/cover no-repeat;
    flex-direction: column;
    justify-content: center;
    .title-header {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      margin-bottom: 10px;
      z-index: 2;
    }
    .paragraph-header {
      font-family: "Roboto Slab", serif;
      z-index: 2;
    }
  }
  .bottom-header {
    height: 22%;
    background-color: #000;
    .brand {
      margin-left: 5%;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
    }
  }

  @media screen and (max-width: 320px),
    (min-width: 321px) and (max-width: 375px) {
    .top-header .title-header {
      font-size: 6vw;
    }
    .top-header .paragraph-header {
      font-size: 3.5vw;
    }
    .bottom-header .brand {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 376px) and (max-width: 768px) {
    .top-header .title-header {
      font-size: 4.8vw;
    }
    .top-header .paragraph-header {
      font-size: 2.5vw;
    }
    .bottom-header .brand {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .top-header .title-header {
      font-size: 4.5vw;
    }
    .top-header .paragraph-header {
      font-size: 2vw;
    }
    .bottom-header .brand {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1025px) {
    .top-header .title-header {
      font-size: 3.5vw;
    }
    .top-header .paragraph-header {
      font-size: 1.2vw;
    }
    .bottom-header .brand {
      font-size: 28px;
    }
  }
}
