.header {
  height: 36vh;
  width: 100%;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &::before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 265.812px;
    position: absolute;
    width: 100%;
    z-index: 1;
    @media (max-width: 767px) {
      height: 542.391px;
    }
  }

  @media (max-width: 767px) {
    height: 60vh;
  }
  .top-header {
    color: #fff;
    height: 78%;
    background: url("../../assets/header_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title-header {
      font-size: 59px;
      z-index: 2;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 54px;
        width: 400px;
      }
    }
    .paragraph-header {
      font-size: 1.8vh;
      z-index: 2;
      font-family: "Roboto Slab", serif;
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  .bottom-header {
    height: 22%;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    .brand {
      margin-left: 5%;
      cursor: pointer;
      font-size: 3.6vh;
      z-index: 2;
      font-family: "Montserrat", sans-serif;
    }
  }
}
