# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

../../.bash_history
../../.config/
../../.git-credentials
../../.gitconfig
../../.gnupg/
../../.lesshst
../../.node_repl_history
../../.parcel-cache/
../../.ssh/
../../.viminfo
../../.vscode/
../../AppData/
../../Contacts/
../.vscode/
../CodersLab/
../Crack/
../FIFA MANAGER 12/
../Gry/
../KSZ/
../NSZ/
../Nowy Dokument tekstowy.txt
"../Sp\305\202ata przyssawki.jpg"
../Zadanie-Rekrutacyjne/
../cs loginy.txt
../desktop.ini
../fig2dev-3.2.8a/
../list motywacyjny action.txt
../praca.txt
../../Documents/
../../Downloads/
../../Favorites/
../../IntelGraphicsProfiles/
../../Links/
../../Music/
../../NTUSER.DAT
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
../../ONL_FER_W_25_Prework_JavaScript/
../../ONL_FER_W_25_Sass_RWD/
../../ONL_FER_W_25_Zaawansowany_HTML_i_CSS/
../../OneDrive/
../../Pictures/
../../Saved Games/
../../Searches/
../../Videos/
../../WebstormProjects/
../../cl-carsharing/
../../java_error_in_webstorm64.hprof
../../node_modules/
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.ini
../../package-lock.json
../../package.json
../../parcel/