.heading-content {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  font-family: "Arial", sans-serif;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(90deg, #666, #ccc, #666);
  }
  .title-offers {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .incentive {
    font-family: "Roboto Slab", serif;
  }
}

.services {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: transparent;
  position: relative;
  @media (max-width: 767px) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #666, #ccc, #666);
  }
  .service {
    flex: 1;
    background-color: #fff;
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    @media (max-width: 767px) {
      padding: 20px;
    }
    .btn-offer {
      background-color: #6666669f;
      border-radius: 200px;
      padding: 2vh;
      color: #fff;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }
  .destiny {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    position: relative;
    font-family: "Montserrat", sans-serif;
    &::before {
      content: "";
      position: absolute;
      top: 115%;
      left: 50%;
      width: 100%;
      height: 4px;
      background-color: #333;
      transform: translateX(-50%);
    }
  }
  .list {
    list-style-type: none;
    padding: 0;
    .list-item {
      margin: 20px 0;
      color: #555;
      font-size: 24px;
      &::before {
        content: "\2714";
        color: #808080;
        margin-right: 8px;
      }
    }
  }
}
